#divleft {
    width: 50%;
    float: left;
    text-align: left;
    color: #f5efef;
    height: 820px;
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 50px;
}

#divright {
    width: 50%;
    height: 820px;
    float: left;
    text-align: center;
    color: #110909;
    border: none;
    background-color: #f5efef;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 50px;
}

#lol {
    width: 70%;
    border-radius: 0%;
    padding: 8px;
    padding: 10px 5px;
    margin-block-end: 20px;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

body {
    background-image: url(../forest.jpg);
}

.study {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3c553a;
    width: 50%;
    padding: 10px;
    color: #f5efef;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    margin: 20px;
}

#idol {
    width: 60%;
    height: 5%;
}

#bug:hover {
    background-color: rgb(211, 99, 99);
}




.flower {
    border: 1px; 
    width: 80%; 
    border-style: solid; 
    color: red;
}


.container_1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.left-border,
.right-border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}